<!-- templates/home.html -->
{% load staticfiles %}
<h1><b>Data Story: A situation of Novel Corona Virus in Kenya as at 24th of May 2020</b></h1>

<p>In this times of the deadly pandemic that has brought the World to its knees, the need for accurate and reliable information cannot be 
    overemphasized. Story telling such facts and figures even makes it easier for you to decipher. This story intends to do just that for you!</p>

<p>We are utilizing maps to visualize the number of cases per county. The map highlights the spread of the disease Countrywide, reflects on the risks faced by each county based on its
         neighborhood with other Counties or even Countries with a significant number of cases.</p>

<p>This map allows the user to view data by individual Counties.</p>

<img src="{% static 'img/kenyamap.jpg' %}" />
<p>The analysis measures Confirmed cases as of <b>24th of May 2020</b>  by County in Kenya.</p>
<ul>
    <li>The total number of confirmed cases in Kenya was <b>1214</b>  across all the Counties.</li> 
    <li>The maximum value was <b>560</b> (Nairobi) and the minimum value was <b>0 </b> (with 20 Counties reporting zero cases), averaging <b>25.8.</b> </li>
    <li><b>27 </b> Counties accounts for all cases reported in the Country. </li>
    <li>The Counties of Nairobi, Mombasa and Kajiado are the ones hardly hit by the virus, with Nairobi County at 537, Mombasa at 397, Kajiado 52, Kwale 19, Kiambu 18, Mandera 14 and Wajir 16.</li>
    <li>A large portion of Kenya cases are still centered on Nairobi City County.</li>
    <li>Nairobi and Mombasa Counties are actually outliers with very high numbers of cases as of 24th of May 2020.</li>
    <li>The confirmed cases are also very concentrating with <b>89%</b>  of the total cases represented by only <b>7</b>counties out of the 47 Counties. </li>
    <li>Cases in Nairobi County <b>(570)</b> are almost <b>22</b>  times bigger than the average across the 47 counties.</li>
    <li>Nairobi and Mombasa Counties combined accounts for more than <b>79%</b>  of the cases across the Counties.</li>
    <li>Viewing this statistics by the location of the Counties shows that the disease has followed major transit corridors (The Nairobi County) and spread along the coastal Counties of Mombasa.</li> 
    <li>We can also see apart from the Nairobi and Mombasa Counties, the other Counties with more than <b>10</b>  cases are the border Counties like Mandera, Wajir and Kajiado. This can be attributed to the border line and potential of spread of the disease from the neighboring country.</li>
    <li>Those Counties bordering Nairobi and Mombasa seems to be receiving the virus gladly from its neighbors.</li>
    <li>Despite the rising in numbers of cases, Kenya still has a chance of winning the fight against this pandemic especially given the fact the spread of the virus is concentrating in less than <b>14 %</b>  of the Counties.</li>
    <li>The government can leverage on the concentration of the virus and implement mitigation measures such as cessation of movements in and out of the affected Counties.</li>
    <li>There is also need to ascertain the origin of cases that are reported in the border Counties. This will inform other mitigation measures such as closing of the border should the cases be having their routes across the border.</li>
    <li>It is interesting to note that Counties neighboring Nairobi like the Machakos do not seem to show much spread into their County.</li>
    
</ul>
    